 body {
            background: #f8f5f2;
             font-family: Arial, sans-serif;
        }

        .brand-title {
            color: #5a0f2e;
            font-weight: bold;
        }

        .product-card {
            border: none;
            border-radius: 15px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
            transition: 0.3s;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

         .product-card img{
            height: 220px;
            object-fit: cover;
         }

        .product-card:hover {
            transform: translateY(-5px);
        }

        .btn-custom {
            background: #5a0f2e;
            color: #fff;
            border-radius: 8px;
        }

        .btn-custom:hover {
            background: #3e0a20;
        }

        .cart-box {
            position: 30px;
            top: 20px;
            right: 20px;
            background: #fff;
            padding: 15px;
            border-radius: 12px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
            width: 250px;
            z-index: 999;
        }

        .floating-icons {
            position: fixed;
            right: 20px;
            bottom: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .floating-icons a {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: #fff;
            font-size: 20px;
            text-decoration: none;
        }

        .whatsapp {
            background: #25D366;
        }

         /* footer tag */
 footer {
     background-color: #400A16;
     padding: 20px;
     display: flex;
     justify-content: space-around;
 }


 .footer-info {
     margin-top: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 20px;
     flex-wrap: wrap;
     font-size: 20px;
 }



 .footer-info a {
     transition: 0.3s ease;
     text-decoration: none;
     color: #908f8f;
     font-size: 15px;
 }

 .footer-info a:hover {
     color: #c1576e;
 }

 .note {
     background-color: #022033;
     color: #ffffff;
 }

 a {
     color: #e0e0e0;
 }